body {
    background: black; 
     color: antiquewhite;
     margin: 0px;
    }
    
    header {
        border-bottom: solid 1px darkgoldenrod;
    }

    section{
        background: rgb(255, 255, 255, .3)
    }