body {
    background: black; 
     color: antiquewhite;
     margin: 0px;
     .prociono-regular {
        font-family: "Prociono", serif;
        font-weight: 400;
        font-style: normal;
      }
      
    }
    
    header {
        border-bottom: solid 1px darkgoldenrod;
    }

    section{
        background: rgb(255, 255, 255, .3)
    }